.arrows {
  font-size: 2em;
  margin: 0 2em 0 2em; }

.mes-arrows {
  width: 160px;
  margin-right: 2px;
}

.yr-nxt-to-month{
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

td:hover {
  background: lightgreen; }

i {
  cursor: pointer;
}

/* 
@media screen and (max-width: 768px) {
  .yr-nxt-to-month {
    display: none;
  }

  .container{
    min-width: 100% !important;
  } 

  .table {
    max-width: 95%;
  }
} */


