@import './calendar.css';
@import './modal.css';

body {
    background: url('../img/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.main-container {
    background-color: #F7FFF7; 
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #FF6B6B;
}

.logo {
    margin: 2em 0 0 1em;
}

.loginLbl {
    font-size: small;
    color: #9CAFB7;
}

footer > section >  h3 {
    text-align: center;
}